body{
    margin: 0 auto;
    box-sizing: border-box;
    /* padding: */
    font-family: "poppins";
}
h3{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.card img{
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 30px 20px;
    margin: 0px 20px;
}
.card h2{
    font-weight: 400;
    margin-bottom: 30px;
}
.card button{
    background-color: green;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}