main{
    padding: 7px 55px;
}

.card img{
  width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 30px 20px;

}
.card h2{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
    width: 50%;
}
.card button{
    background-color: #00c292;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 9px;
    font-size: 16px;
    cursor: pointer;
}


@media (max-width: 640px) {
 
  main {
    padding: 7px 25px;
  }

  .card h2{
  
    width: 100%;
}
}