 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body {
    background-color: #f6f8fb;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
    width: 100%;
  }
  
  .signup-box {
    background: white;
    padding: 40px 35px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    width: 380px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
  }
  
  .logo img {
    width: 40px;
    height: 30px;
  }
  
  .logo span {
    font-size: 20px;
    font-weight: 600;
    color: #00bfa6;
  }
  
  h2 {
    font-size: 20px;
    color: #222;
    margin-bottom: 8px;
  }
  
  .login-text {
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
  }
  
  .login-text a {
    color: #00bfa6;
    text-decoration: none;
    font-weight: 500;
  }
  
  form {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  label {
    font-size: 13px;
    margin-bottom: 5px;
    color: #444;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
  }
  
  input:focus {
    border-color: #00bfa6;
    outline: none;
  }
  
  .signup-btn {
    background-color: #00bfa6;
    color: white;
    border: none;
    padding: 12px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .signup-btn:hover {
    background-color: #00a894;
  }
  
  .divider {
    text-align: center;
    color: #999;
    margin: 20px 0;
    font-size: 13px;
  }
  
  .social-login button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
  }
  
  .box {
    background-color: #f0f0f1;
    color: rgb(4, 4, 4);
    display: flex;
    align-items: center;
  }

  .text{
    display: flex;
    margin:0 40px;
  }
  
   button:hover {
    opacity: 0.9;
    color: #00a894;
  }
  
  .terms {
    margin-top: 15px;
    font-size: 12px;
    color: #666;
    line-height: 1.5;
  }
  
  .terms a {
    color: #00bfa6;
    text-decoration: none;
  }
  
  @media (max-width: 480px) {
    .signup-box {
      width: 90%;
      padding: 30px 20px;
    }
  }
  