body {
  box-sizing: border-box;
  padding: 20px 35px;
  font-family: "Inter", sans-serif;
  border: 2px solid whitesmoke;
  border-radius: 12px;
  align-items: baseline;
  width: 80%;
  justify-self: center;
  margin: 40px;
  text-align: center;
  padding-block: 100px;
}

p {
  width: 50%;
  text-align: center;
  color: rgb(85, 85, 85);
  font-weight: 500;
justify-self: center;
}

h2 {
  text-align: center;
}

#light {
  color: green;
  font-size: 24px;
}

input {
  width: 80%;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
  width: 70%;
  margin: 30px 85px;
  justify-self: center;
}

label {
  color: #7a7979ad;
  font-weight: bold;
}

button {
  width: 68%;
  background-color: #cccccc;
  background-color: rgb(211, 253, 211);
  padding: 10px 15px;
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-self: center;
}
